<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Конференция НННФ</title>
    <link rel="stylesheet" type="text/css" href="styles/mainpage_style.css">
    <link rel="shortcut icon" type="image/png" href="images/n3ph.png">
</head>
<body>

<div class="container">
    <div class="header">
        <div class="navbar">
            <div class="nav-list">
                <a class="rel" href="/">Главная страница</a>
                <a class="rel" href="/archive">Архив</a>
                <a class="rel" href="/komitet">Программный комитет</a>
                <div class="drop">
                    <button>Смотреть трансляцию</button>
                    <div class="translation-list">
                        <div><a href="https://meet.google.com/fow-uatv-ddr">Конференц зал</a></div>
                        <div><a href="https://meet.google.com/iwi-mzag-bgc">Малый зал</a></div>
                    </div>
                </div>
            </div>
            <div>
                <a class="rel" href="/login">Войти</a>
            </div>
        </div>
    </div>
    <div class="panel-left"></div>

    <div class="main-body">
        <div class="logo-panel">
            <div class="logo">
                <h2>XVIII ВСЕРОССИЙСКАЯ НАУЧНАЯ КОНФЕРЕНЦИЯ МОЛОДЫХ УЧЕНЫХ</h2>
                <h1>НАНОЭЛЕКТРОНИКА НАНОФОТОНИКА И НЕЛИНЕЙНАЯ ФИЗИКА</h1>
                <h3>г. Саратов, ул. Зеленая 38</h3>
                <h3>5 - 7 октября 2024</h3>
            </div>

            <div class="n3ph">
                <img src="images/n3ph.png" alt="Эмблема конференции">
            </div>
        </div>

        <div class="registration">
            <a href="/register">Регистрация</a>
        </div>

        <div class="foto">
            <img src="images/сфирэран.jpg" alt="СФИРЭРАН">
            <h2>Саратовский филиал Института радиотехники и электроники им. В.А. Котельникова РАН</h2>

        </div>


        <div class="information">
            <div class="tematika">
                <p>Тематика конференции</p>
                Конференция является традиционной и проводится ежегодно с 2006 года. В нынешнем году проводится XVIII
                Всероссийская научная конференция молодых ученых «Наноэлектроника, нанофотоника и нелинейная физика».
                Тематика конференции традиционно включает актуальные проблемы физики микро- и наноструктур, физического
                материаловедения, физики колебаний и волн и другие фундаментальные проблемы современной физики
                направленные
                на разработку физико-технологических основ создания устройств обработки информации. В рамках десятой
                конференции предполагается заслушать доклады молодых ученых, аспирантов и студентов в возрасте до 35
                лет.
                Направления исследований, в рамках которых предполагается работа конференции, признаются мировым научным
                сообществом наиболее значимыми и перспективными, им уделяется большое внимание в научной печати,
                регулярно
                проводятся симпозиумы и конференции, как в России, так и за рубежом. Кроме того, для повышения
                квалификации
                молодых ученых и преемственности научных школ предполагаются чтение лекций обзорного и вводного
                характера
                известными учеными, работающими в областях физики конденсированного состояния, технологии создания и
                методам
                исследования микро- и наноструктур и метаматериалов, оптики и лазерной физики, микро- и наноэлектроники,
                опто-, радио- и акустоэлектроники, и др.
                В 2014 году Саратовский филиал ИРЭ им. В.А. Котельникова РАН заключил с научной электронной библиотекой
                договор, согласно которому труды конференции регистрируются в системе Российского индекса научного
                цитирования.
            </div>
            <div class="napravlenie">
                <p class="title">Доклады принимаются по направлениям</p>
                <p class="doclad">Секция «Физическое материаловедение. Микро- и наноструктуры»</p>
                <p class="ruk">Председатель секции к.ф.–м.н., с.н.с. СФ ИРЭ им. В. А. Котельникова РАН Никулин Ю.В</p>
                <p class="doclad">Секция «Микро- и наноэлектроника»</p>
                <p class="ruk">Председатель секции д.т.н., зав. лаб. СФ ИРЭ им. В. А. Котельникова РАН Яфаров Р.К.</p>
                <p class="doclad">Секция «Волновые (фотонные, магнонные, фононные, плазмонные) кристаллы и
                    метаматериалы» </p>
                <p class="ruk">Председатель секции к.ф.–м.н., зав. лаб. СФ ИРЭ им. В. А. Котельникова РАН Хивинцев
                    Ю.В.</p>
                <p class="doclad">Секция «Волоконная оптика и нанофотоника»</p>
                <p class="ruk">Председатель секции д.ф.–м.н., зав. лаб. СФ ИРЭ им. В. А. Котельникова РАН Ушаков
                    Н.М.</p>
                <p class="doclad">Секция «Нелинейная физика»</p>
                <p class="ruk">Председатель секции д.ф.–м.н., зав. лаб. СФ ИРЭ им. В. А. Котельникова РАН Купцов
                    П.В.</p>
                <p class="doclad">Секция «Биомедицинская физика»</p>
                <p class="ruk">Председатель секции д.ф.–м.н., в.н.с. СФ ИРЭ им. В. А. Котельникова РАН Пономаренко
                    В.И.</p>
                <p class="doclad">Секция «Терагерцевой вакуумной электронике»</p>
                <p class="ruk">Председатель секции д.ф.–м.н., в.н.с. СФ ИРЭ им. В. А. Котельникова РАН Рыскин Н.М.</p>
                <p class="doclad">Стендовые секции по направлениям</p>
            </div>
        </div>


    </div>

    <div class="panel-right"></div>


    <div class="footer">
        <p>Copyright © 2024 Polina Akishina</p>
    </div>
</div>

</body>
</html>